src/main/resources/META-INF/mule-hl7.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/hl7"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/hl7"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd" />
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.1/mule-schemadoc.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/tcp"
                schemaLocation="http://www.mulesoft.org/schema/mule/tcp/3.1/mule-tcp.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            The HL7 transport enables events to be sent into Mule using MLLP and HL7 parsers.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>TCP</schemadoc:short-name>
            <schemadoc:page-title>TCP Transport</schemadoc:page-title>
            <schemadoc:transport-features receiveEvents="true" dispatchEvents="true"
                                          requestEvents="true"
                                          transactions="false" streaming="true">
                <schemadoc:MEPs supported="one-way" default="one-way"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="tcp:tcpConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Connects Mule to a TCP socket to send or receive data via the network.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                The inbound-endpoint element configures the endpoint on which the messages are received.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                The endpoint element configures a global TCP endpoint definition.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="addressAttributes">
        <xsd:attribute name="host" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The host of the TCP socket.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
        <xsd:attribute name="port" type="mule:substitutablePortNumber">
                    <xsd:annotation>
                        <xsd:documentation>
                            The port of the TCP socket.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
    </xsd:attributeGroup>

</xsd:schema>
